<%= simple_form_for(@access_type, html: { class: 'form-horizontal' },wrapper: :horizontal_form) do |f| %>
    <fieldset>
      <%= f.input :name, autofocus: true, placeholder: 'administrator' %>
      <%= f.input :description, placeholder: 'log files are visible by administrator accounts only' %>
      <div class='form-group'>
        <div class='col-sm-3'></div>
        <div class='form-actions col-sm-9'>
          <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
              <% if @access_type.new_record? %>
                  <i class='icon-user-add'></i> Create Access Type
              <% else %>
                  <i class='icon-edit-alt'></i> Save
              <% end %>
          <% end %>
          <%= link_to users_path, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' do %>
              <i class='icon-trash'></i> Cancel
          <% end %>
        </div>
      </div>
    </fieldset>
<% end %>



