<%= simple_form_for(@log_file, html: { class: 'form-horizontal search-form' },wrapper: :horizontal_form) do |f| %>
    <fieldset>
      <%= f.input :name, autofocus: true %>
      <%= f.input :description%>

      <div class='form-group control-info'>
        <label class="col-sm-3 control-label">Access</label>
        <div class='form-actions col-sm-9 form-options'>
          <%= f.collection_radio_buttons :access_type_id, AccessType.all, :id, :name,
                                         checked: @log_file.get_access_type_id_or_default %>
        </div>
        <%= render partial: 'log_files/charts/access_types_names.html.erb' %>
      </div>

      <div style='display:none'>
        <% AccessType.all.each do |type|  %>
            <span id="<%= 'AccessTypeID' + type.id.to_s %>">
              <%= type.description %>
            </span>
        <% end %>
      </div>

      <div class='form-group control-info'>
        <div class='col-sm-3'></div>
        <div class='form-actions col-sm-9'>
            <div class="alert alert-info" role="alert"> <%= @log_file.get_access_type_description %></div>
        </div>
      </div>

      <% if @log_file.id %>
          <%= f.simple_fields_for :config_file do |n| %>
              <%= n.input :json, label: 'Config file' %>
          <% end %>
      <% else %>
          <%= f.input :log_file %>
          <%= f.simple_fields_for :config_file_attributes do |n| %>
              <%= n.input :json, label: 'Config file' %>
          <% end %>
      <% end %>

      <div class='form-group'>
        <div class='col-sm-3'></div>
        <div class='form-actions col-sm-9'>
          <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
              <% if @log_file.new_record? %>
                  <i class='icon-doc-add'></i> Upload
              <% else %>
                  <i class='icon-edit-alt'></i> Save
              <% end %>
          <% end %>
          <%= link_to log_files_path, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' do %>
              <i class='icon-trash'></i> Cancel
          <% end %>
        </div>
      </div>
    </fieldset>
<% end %>


