<h1>Listing log_files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_files.each do |log_file| %>
      <tr>
        <td><%= log_file.name %></td>
        <td><%= log_file.description %></td>
        <td><%= link_to 'Show', log_file %></td>
        <td><%= link_to 'Edit', edit_log_file_path(log_file) %></td>
        <td><%= link_to 'Destroy', log_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log file', new_log_file_path %>
